.prop-input {
  input[type="text"] {
    background: transparent;
    outline: none;
    border: none;
    min-width: 80px;
  }

  //   .value-input {
  //     width: 50px !important;
  //   }

  //   .unit-input {
  //     width: 50px !important;
  //   }
}
